/*=== RESET ALL ===*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {height: 100%;}
body {background: #fff;}


/* === NAVIGATION ===*/

#n1 {
    opacity: 0.8; /*add transparency*/
    display: flex; /*add flex box for navigation*/
    justify-content: center; /*align text in the middle of the lign*/
    align-items: center; /* align text verticaly*/
    width: 100%;
    position: fixed; /*fix menu on top of the website*/
    top: 0;
    left: 0;
    background: #333;
    padding: 10px;
    margin-bottom: 30px;
}

#n1 a:link{
    color: #fff;
    text-align: center; /*center link text in the middle */
/*    padding: 10px 20px;*/
    text-decoration: none;
    flex-grow: 1;
}

#n1 a:visited {
    color:#fff;
}

#n1 a:hover {
    background: #333;
    color:grey; 
}

#n1 a:active{
    color:#fff;
}

#n1 a.current {
    color:grey;
}

/*=== TOP MENU ===*/
.menu{}

#top_menu {
/* all objects are relative/mutual in one container */
    margin-top:80px;
    position: relative;
/*    width: 60%;*/
    margin-left: 10%;
    margin-right: 10%;
}

section #left{
    text-align: left;
}

section #right {
/* this section is absolute to section left  */

    position: absolute;
    top:0;
    right: 0;

}

/*=== TOP MENU NAVIGATION === */
#right a:active {
    color: #111;
}

#right a:link{
    color: #111;
    text-decoration: none;
/*    */
    padding: 10px;
}

#right a:visited {
    color:#111;
}

#right a:hover {
    color:#111; 
    text-decoration: underline;
}

#right a:active{
    color:#111;
}

/*=== BUTTON ===*/
.button {
    background-color: deepskyblue;
/*    border: none;*/
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 0px;
    margin: 0px 0px;
}



/*=== BODY ===*/
section{
    text-align: center;
}

h2{
    font-size: 35px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: block;
    color: #111;
    margin-top: 100px;
    text-transform: capitalize;
}


section img{
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


section article p{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 22px;
    line-height: 1.45455;
    font-weight: 300;
    letter-spacing: .016em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


/*=== SECTION 1 ===*/
#s1 {
    background: #f2f2f2;
    padding-top: 1px;
}

#box img{
    width: 100%;
    height: auto;
}


/*=== FOOTER ===*/
footer{
    text-align: center;
    margin-bottom: 20px;
}

footer hr{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* === NAVIGATION FOOTER === */
#n2 a:active {
    color: #111;
}

#n2 a:link{
    color: #111;
    text-decoration: none;
}

#n2 a:visited {
    color:#111;
}

#n2 a:hover {
    color:#111; 
    text-decoration: underline;
}

#n2 a:active{
    color:#111;
}










