/*=== RESET ALL ===*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {height: 100%;}
body {background: white;}


/*=== NAVIGATION ===*/
#n1 {
    background-color:rgba(0,0,0,0.75);
    display: flex;
    flex-flow: row wrap;
    /*justify-content: center;*/
    align-items: center; /* align text verticaly */
    padding: 10px;
    width: 100%;
    position: fixed; /*make navigation positon fixed on top of the screen*/
    text-transform:uppercase; /*uppercase letters*/
    font-weight: bold; /*make text bold in navigation*/
    z-index: 99; /* show menu over all other objects*/
}

#n1 a:link{
    color:#fff;
    font-family: Gotham Book,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif, Roboto;
    text-align: center; /* align text in the middle  */
    text-decoration: none;
    flex-grow:1;
}

#n1 a:visited{
    color:white;
}

#n1 a:hover{
    color: grey;
}

/*set work hours as not active*/
#n1 .wh{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: white;
}

#n1 a:active{
    color: #fff;
}

#n1 a.current {
    color: grey;
}


/*=== BODY ===*/

/*---===//GENERAL CONFIGURATIONS//===---*/

/*header group configurations*/
hgroup {
    margin-top:  50px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

/*header h2 configurations*/
h2{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    /*text-align: center;*/
}

/*header h3 configurations*/
h3{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    /*font-style: italic;*/
    /*text-align: center;*/
}

/*article configurations*/
article {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*paragraph configurations*/
p {
    font-family: "HeiS ASC Simplified Chinese","HeiS ASC Simplified Chinese_n5","HeiT ASC Traditional Chinese","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;
    /*text-align:center;*/
}

/*--===/SCROLL TO TOP/===--*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: darkgrey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
    opacity: 0.75; /*add transperency*/
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#myBtn:hover {
  background-color: red; /* Add a red background on hover */
}
/*---===//END OF GENERAL CONFIGURATIONS//===---*/




/*--===//S1 FOOTER//===--*/
#s1 figure img { /*footer image*/
    width: 100%;   
    height: auto;  
    z-index: 0;
}
/*--===//END OF S1 FOOTER//===--*/


/*--===//S2 SERVICES//===--*/
#s2 {
    background-color: white; 
}

#s2 {
    margin-bottom: 50px;
    
}

#s2 h3 {
    /*margin: 40px;*/
    font-weight: bold;
}

#s2 .serv {
    position: relative;
    margin-bottom: 20px;
}

#s2 .serv #left {
    text-align: left;
}
/*--===//END OF S2 SERVICES//===--*/


/*--===//SECTION S3 VITRES D'AUTOS ELITE OFFICE PHOTOS//===--*/
#s3 {
    background: #000;
}

/*=========================*/
/*=== SLIDESHOW GALLERY ===*/
/*=========================*/

#s3 body {
  font-family: Arial;
  margin: 0;
}

#s3 * {
  box-sizing: border-box;
}

#s3 img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
#s3 .container {
  position: relative;
}

/* Hide the images by default */
#s3 .mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
#s3 .cursor {
  cursor: pointer;
}

/* Next & previous buttons */
#s3 .prev,
 .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
#s3 .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#s3 .prev:hover,
.next:hover {
  background-color: black;
}

/* Number text (1/3 etc) */
#s3 .numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
#s3 .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

#s3 .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
#s3 .column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
#s3 .demo {
  opacity: 0.6;
}

#s3 .active,
.demo:hover {
  opacity: 1;
}

/*====================================*/
/*=== END OF THE SLIDESHOW GALLERY ===*/
/*====================================*/


/*--===//SECTION S4 WARRANTY//===--*/
#s4 {
    background-color: white; 
}

#s4 {
    margin-bottom: 50px;
}

#s4 h3 {
    font-weight: bold;
}

#s4 p {
    text-align: justify;
}
/*--===//END OF SECTION S4 WARRANTY//===--*/


/*--===//SECTION S5 ADDRESS AND MAP//===--*/
#s5 * {
    box-sizing: border-box;
}

#s5 hgroup {
    margin-top: 0px;
}

#s5 .flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f1f1f1;
/*    align-content: stretch;*/
}

#s5 .flex-item-left-address {
    margin: auto;
    padding: 0px;
    flex: 50%;
}

#s5 .flex-item-right-map {
    padding: 0px;
    flex: 50%;
    align-content: stretch;
}
/*--===//END OF SECTION S5 ADDRESS AND MAP//===--*/


/*--===//SECTION S6 CONTACT US//===--*/
#s6 h3 {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}


#s6 {
    margin-bottom: 50px; 
}

/*error message color*/
#s6 #error_fn, #error_ln, #error_email, #error_phone, #error_car, #error_model, #error_year, #error_subject, #error_message{
    color: darkred;
}

/*-- CONTACT FORM CONFIG --*/
#s6 form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: white;
}


/*First Name Field*/
#s6 .CF_FirstName input[type = text] {
    /*set width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*First Name - on focus change box border color*/
#s6 .CF_FirstName input[type = text]:focus{
    border: 1px solid red;
}


/*Last Name Field*/
#s6 .CF_LastName input[type = text] {
    /*set width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*Last Name - on focurs change box border color*/
#s6 .CF_LastName input[type = text]:focus{
    border: 1px solid red;
}


/*Email Field*/
#s6 .CF_Email input[type = text] {
    /*set width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*CarMake - on focurs change box border color*/
#s6 .CF_Email input[type = text]:focus{
    border: 1px solid red;
}


/*Phone Number Field*/
#s6 .CF_Phone input[type = text] {
    /*set width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*Phone Number - on focurs change box border color*/
#s6 .CF_Phone input[type = text]:focus{
    border: 1px solid red;
}


/*Car Make Field*/
#s6 .CF_Car input[type = text] {
    /*set width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*CarMake - on focurs change box border color*/
#s6 .CF_Car input[type = text]:focus{
    border: 1px solid red;
}


/*Car Model Field*/
#s6 .CF_CarModel input[type = text] {
    /*set width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*Car Model - on focurs change box border color*/
#s6 .CF_CarModel input[type = text]:focus{
    border: 1px solid red;
}


/*Model Year Field*/
#s6 .CF_ModelYear input[type = text] {
    /*set width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*Model Year - on focurs change box border color*/
#s6 .CF_ModelYear input[type = text]:focus{
    border: 1px solid red;
}


/*Subject Field*/
#s6 .CF_Subject input[type = text] {
    /*set  width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*Subject - on focurs change box border color*/
#s6 .CF_Subject input[type = text]:focus{
    border: 1px solid red;
}


/*Message Config*/
#s6 .CF_Message textarea {
    font-family: inherit;
    font-size: 15px;
    /*set  width to full-width size*/
    width: 100%;
    /*size*/
    padding: 12px 20px;
    /*box sizing with border*/
    box-sizing: border-box;
    /*border color*/
    border: 1px solid #ccc;
    /*smooth button corners*/
    border-radius: 4px;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none; 
    resize: vertical;
}

/*Message - on focurs change box border color*/
#s6 .CF_Message textarea:focus{
    border: 1px solid red;
}

/*Submit Button Config*/
#s6 input[type = submit] {
    /*submit button color*/
    background-color: black;
    /*submit button text color*/
    color: white;
    /*exclude border for sumit button*/
    border: none;
    /*smooth button corners*/
    border-radius: 4px;
    /*button size*/
    padding: 16px 32px;
    /*no text decoration*/
    text-decoration: none;
    /*add pointer(hand)*/
    cursor: pointer;
    /*set button width to full-width size*/
    width: 100%;
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/*change submit button color on hover*/
#s6 input[type=submit]:hover {
  background-color: red;
}


/* -- FLEX BOX CONTACT FORM CONFIG --*/
#s6 * {
    box-sizing: border-box;
}

#s6 .flex-contactForm {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#s6 .CF_FirstName {
    padding: 0px;
    flex: 50%;
}

#s6 .CF_LastName{
    padding: 0px;
    flex: 50%;
}

#s6 .CF_Email{
    padding: 0px;
    flex: 50%;
}

#s6 .CF_Phone{
    padding: 0px;
    flex: 50%;
}

#s6 .CF_Car{
    padding: 0px;
    flex: 100%;
}

#s6 .CF_CarModel{
    padding: 0px;
    flex: 50%;
}

#s6 .CF_ModelYear{
    padding: 0px;
    flex: 50%;
}

#s6 .CF_Subject{
    padding: 0px;
    flex: 100%;
}

#s6 .CF_Message{
    padding: 0px;
    flex: 100%;
}

/*--===//END OF SECTION S6 CONTACT US//===--*/


/*--===//SECTION S7 PARTNERS AND CLIENTS//===--*/
#s7 {
    background-color: #f1f1f1;
/*    margin-bottom: 50px;*/
    padding-bottom: 50px;
}


#s7 h3 {
    font-weight: bold;
}

#s7 img {
    width: 60%;   
    height: auto;  
    z-index: 0;
}

#s7 * {
    box-sizing: border-box;
}

#s7 .flex-cont-part-clients {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#s7 .abrisocorp {
    padding: 10px;
    flex: 33.3%;
    margin: auto;
}

#s7 .smart_start_ca {
    padding: 10px;
    flex: 33.3%;
    margin: auto;
}

#s7 .globe {
    padding: 10px;
    flex: 33.3%;
    margin: auto;
}

#s7 .gr_st_henri {
    padding: 10px;
    flex: 33.3%;
    margin: auto;
}

#s7 .mko {
    padding: 10px;
    flex: 33.3%;
    margin: auto;
}

#s7 .auto_int {
    padding: 10px;
    flex: 33.3%;
    margin: auto;
}
/*--===//END OF SECTION S7 PARTNERS AND CLIENTS//===--*/


/*--===//FOOTER //===--*/
footer{
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
}


/*=== MEDIA CONFIGURATIONS ===*/
/*=== MOBILE ===*/
@media all and (max-width: 599px){
    
    /*=== ALERT MESSAGE ===*/
    #s0 #alertMessage {
        margin-top: 33px;
        width:100%;
        position: fixed;
        z-index: 99;
        opacity: 0.75;
    }

    /*--===//SECTION N1 NAVIGATION//===--*/
    /*update navigation font size*/
    #n1 a{font-size: 13px;} 
    
    #n1 .tl{font-size: 0;}
    #n1 .tl:after{
        content: '(514)634-3548';
        font-size: 13px;
    }
    
    #n1 .wh{font-size: 0;}
    #n1 .wh:after{
        content: 'MON-FR 8AM-5PM';
        font-size: 13px;
    }
    
    #n1 .fb{font-size: 0;}
    #n1 .fb:after{
        content: 'FB';
        font-size: 13px;
    }
    
    /*--===/SCROLL TO TOP/===--*/
    #myBtn {font-size: 13px;}
    
    /*--===//GENERAL CONFIG//===--*/
    /*update header group size*/
    h2 {font-size: 25px;}
    h3 {font-size: 20px;}
    
    /*update article width*/
    article {
        width: 80%;
    }
    
    /*update paragraph size*/
    p {font-size: 13px;}
    
    /*--===//SECTION S5 ADDRESS AND MAP//===--*/
    /*flex box update margin for address*/
    #s5 .flex-item-left-address{
        margin-top: 50px;
        margin-bottom: 50px;
        flex: 100%;
    }
    
    /*flex box update map height size*/
    #s5 .flex-item-right-map{
        height: auto;
        flex: 100%;
    }

    /*--===//SECTION S6 CONTACT US//===--*/
    /*resize input field size*/
    #s6 .CF_FirstName input[type = text] {padding: 12px 20px;}
    #s6 .CF_LastName input[type = text] {padding: 12px 20px;}
    #s6 .CF_Email input[type = email] {padding: 12px 20px;}
    #s6 .CF_Phone input[type = number] {padding: 12px 20px;}
    #s6 .CF_Car input[type = text] {padding: 12px 20px;}
    #s6 .CF_CarModel input[type = text] {padding: 12px 20px;}
    #s6 .CF_ModelYear input[type = number] {padding: 12px 20px;}
    #s6 .CF_Subject input[type = text] {padding: 12px 20px;}
    #s6 .CF_Message textarea {
        padding: 12px 20px;
        font-size: inherit;
    }

    /*contact form update width*/
    #s6 form {width: 80%;}
    /*contact form set rows width*/
    #s6 .CF_FirstName {flex: 100%;}
    #s6 .CF_LastName {flex: 100%;} 
    #s6 .CF_Email {flex: 100%;} 
    #s6 .CF_Phone {flex: 100%;}, 
    #s6 .CF_CarModel {flex: 100%;} 
    #s6 .CF_ModelYear {flex: 100%;}
    
    /*--===//SECTION S7 PARTNERS AND CLIENTS//===--*/
    /*partners and clients set img width*/
    #s7 img {width: 50%;}
    /*partners and clients set rows width*/
    #s7 .abrisocorp{flex: 50%;}
    #s7 .smart_start_ca{flex: 50%;}
    #s7 .globe{flex: 50%;}
    #s7 .mko{flex: 50%;}

}
/*=== END OF MOBILE SECTION ===*/


/* === TABLET ===*/
@media all and (min-width: 600px) and (max-width: 799px){
    
    /*=== ALERT MESSAGE ===*/
    #s0 #alertMessage {
        margin-top: 35px;
        width:100%;
        position: fixed;
        z-index: 99;
        opacity: 0.75;
    }
 
    /*--===//SECTION N1 NAVIGATION//===--*/    
    /*update navigation font size*/
    #n1 a{font-size: 13px;}   
    
    /*set tel link as not active*/
    #n1 .tl{
        cursor: default;
        pointer-events: none;
        text-decoration: none;
        color: white;
    }    

    /*--===/SCROLL TO TOP/===--*/
    #myBtn {font-size: 13px;}
    
    /*--===//GENERAL CONFIG//===--*/
    /*update header group size*/
    h2 {font-size: 30px;}
    h3 {font-size: 20px;}
    
    /*update article width*/
    article{
        width: 80%;
    }
    
    /*update paragraph size*/
    p{font-size: 13px;}    
    
    /*--===//SECTION S5 ADDRESS AND MAP//===--*/
    /*flex box update margin for address*/
    #s5 .flex-item-left-address{
        margin: auto;
    }
    
    /*flex box update map height size*/
    #s5 .flex-item-right-map{
        height: auto;
    }
    
    /*--===//SECTION S6 CONTACT US//===--*/
    /*contact form update width*/
    #s6 form {width: 80%;}    
    
    #s6 .CF_Email input[type = email];
    #s6 .CF_Phone input[type = number];
    #s6 .CF_ModelYear input[type = number];

    /*--===//SECTION S7 PARTNERS AND CLIENTS//===--*/
    /*partners and clients set img width*/
    #s7 img {width: 40%;}
    /*partners and clients set rows width*/
    #s7 .globe{
        flex: 25%; 
        padding: 0px; 
        order: 1;
    }    
    
    #s7 .abrisocorp{
        flex: 25%; /*flex item*/
        padding: 0px; /*change distance between items*/ 
        order: 2; /*set flex item order*/
    }
    #s7 .smart_start_ca{
        flex: 25%; 
        padding: 0px; 
        order: 3;
    }

    #s7 .mko{flex: 25%; 
        padding: 0px; 
        order: 4;
    }

}
/* === END OF TABLET SECTION ===*/


/*=== LAPTOP AND DESKTOP ===*/
@media (min-width: 800px){
    
    /*=== BODY BORDER LINE ===*/
    #body_elm{
        /*set max width*/
        max-width: 1200px;
        /*align text in the middle - margin*/
        margin: 0 auto;
    }
    
    /*=== NAVIGATION ===*/
    #n1{
        /*set max width*/
        max-width: 1200px; 
    }
    
    /*set tel link as not active*/
    #n1 .tl{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: white;
}

    /*=== ALERT MESSAGE ===*/
    #s0 #alertMessage{
        max-width: 1200px;
        margin-top: 37px;
        width:100%;
        position: fixed;
        z-index: 99;
        opacity: 0.75;
    }    
    
    /*--===//SECTION S5 ADDRESS AND MAP//===--*/
    /*resize two flex boxes 50 by 50 percent*/
    #s5 .flex-item-left-address, .flex-item-right-map {flex:50%;}

    /*--===//SECTION S6 CONTACT US//===--*/
    /*resize 3 flex boxes*/
    #s6 .CF_Car{
        padding: 0px;
        flex: 40%;
    }

    #s6 .CF_CarModel{
        padding: 0px;
        flex: 40%;
    }

    #s6 .CF_ModelYear{
        padding: 0px;
        flex: 20%;
    }
    
    /*--===//SECTION S7 PARTNERS AND CLIENTS//===--*/
    /*partners and clients set img width*/
    #s7 img {width: 50%;}
    /*partners and clients set rows width*/
    
    #s7 .globe{
        flex: 25%; 
        padding: 0px; 
        order: 1;
    }    
    
    #s7 .abrisocorp{
        flex: 25%; /*flex item*/
        padding: 0px; /*change distance between items*/ 
        order: 2; /*set flex item order*/
    }
    #s7 .smart_start_ca{
        flex: 25%; 
        padding: 0px; 
        order: 3;
    }

    #s7 .mko{flex: 25%; 
        padding: 0px; 
        order: 4;
    }

}
/*=== END OF LAPTOP AND DESKTOP SECTION ===*/
