/*=== RESET ALL ===*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {height: 100%;}
body {background: white;}



/*=== BODY ===*/

/*---===//GENERAL CONFIGURATIONS//===---*/

/*header group configurations*/
hgroup {
    margin-top:  50px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

/*header h2 configurations*/
h2{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    /*text-align: center;*/
}

/*header h3 configurations*/
h3{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    /*font-style: italic;*/
    /*text-align: center;*/
}

/*article configurations*/
article {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*paragraph configurations*/
p {
    font-family: "HeiS ASC Simplified Chinese","HeiS ASC Simplified Chinese_n5","HeiT ASC Traditional Chinese","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;
    /*text-align:center;*/
}

/*--===/SCROLL TO TOP/===--*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: darkgrey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
    opacity: 0.75; /*add transperency*/
    /*box border hightlight transition time in seconds*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#myBtn:hover {
  background-color: red; /* Add a red background on hover */
}
/*---===//END OF GENERAL CONFIGURATIONS//===---*/




/*--===//S1 FOOTER//===--*/
/*
#s1 figure img { footer image
    width: 100%;   
    height: auto;  
    z-index: 0;
}
*/

/* Image */
#s1 .container {
  position: relative;
  text-align: center;
  color: black;
/* display half of the image  */
  widows: 50%;
  height: 50%;
  overflow: hidden;    
}
/*  display half of the image  */
#s1 .container .backgr{
    margin-top: -40%;
}

/* Centered text in the midle of the img */
#s1 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Paragraph size and height */
#s1 p {
  line-height: 30px;
  font-size: 20px;
}



/* Links size, height, and weight (bold) */
#s1 a {
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

/* Buttons */
#s1 .phone {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;    
  color: white;
  padding: 10px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#s1 .phone {
  background-color: #4CAF50; 
  color: black; 
  border: 2px solid #4CAF50;
}

#s1 .phone:hover {
  background-color: white ;
  color: black;
}

#s1 .email {
  background-color: #f44336; /* Red */
  border: none;
  border-radius: 12px;    
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#s1 .email {
  background-color: #f44336; 
  color: black; 
  border: 2px solid #f44336;
}

#s1 .email:hover {
  background-color: white;
  color: black;
}


/*
#s1 .flex-container {
    display: flex;
    flex-wrap: wrap;
}

#s1 .flex-container > div {

  margin: 5px;
      line-height: 75px;
  font-size: 30px;
}
*/


/*--===//END OF S1 FOOTER//===--*/


/*--===//S2 SERVICES//===--*/
#s2 {
    background-color: white; 
}

#s2 {
    margin-bottom: 50px;
    
}

/*align text*/
#s2 {
    text-align: justify;
}

#s2 h3 {
    /*margin: 40px;*/
    font-weight: bold;
}

#s2 .serv {
    position: relative;
    margin-bottom: 20px;
}
/*--===//END OF S2 SERVICES//===--*/



/*--===//SECTION S4 WARRANTY//===--*/
#s4 {
    background-color: white; 
}

#s4 {
    margin-bottom: 50px;
}

#s4 h3 {
    font-weight: bold;
}

#s4 p {
    text-align: justify;
}



#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkgrey;
  color: white;
}
/*--===//END OF SECTION S4 WARRANTY//===--*/


/*--===//SECTION S5 ADDRESS AND MAP//===--*/
#s5 * {
    box-sizing: border-box;
}

#s5 hgroup {
    margin-top: 0px;
}

#s5 .flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f1f1f1;
/*    align-content: stretch;*/
}

#s5 .flex-item-left-address {
    margin: auto;
    padding: 0px;
    flex: 50%;
}

#s5 .flex-item-right-map {
    padding: 0px;
    flex: 50%;
    align-content: stretch;
}
/*--===//END OF SECTION S5 ADDRESS AND MAP//===--*/



/*--===//FOOTER //===--*/
footer{
    text-align: center;
    padding: 5px;
    /*  Dark Beige  #D4B894 */
    background-color: black; 
    color: white;
}


/*=== MEDIA CONFIGURATIONS ===*/
/*=== MOBILE ===*/
@media all and (max-width: 599px){
    
    /*=== ALERT MESSAGE ===*/
    #s0 #alertMessage {
        margin-top: 33px;
        width:100%;
        position: fixed;
        z-index: 99;
        opacity: 0.75;
    }

    /*--===//SECTION N1 NAVIGATION//===--*/
    /*update navigation font size*/
    #n1 a{font-size: 13px;} 
    
    #n1 .tl{font-size: 0;}
    #n1 .tl:after{
        content: '(514)634-3548';
        font-size: 13px;
    }
    
    #n1 .wh{font-size: 0;}
    #n1 .wh:after{
        content: 'MON-FR 8AM-5PM';
        font-size: 13px;
    }
    
    #n1 .fb{font-size: 0;}
    #n1 .fb:after{
        content: 'FB';
        font-size: 13px;
    }
    
    /*--===/SCROLL TO TOP/===--*/
    #myBtn {font-size: 13px;}
    
    /*--===//GENERAL CONFIG//===--*/
    /*update header group size*/
    h2 {font-size: 25px;}
    h3 {font-size: 20px;}
    
    /*update article width*/
    article {
        width: 80%;
    }
    
    /*update paragraph size*/
    p {font-size: 14px;}
    
    
    /*--===//SECTION S1 IMAGE AND TEXT//===--*/
    /*  display half of the image  */
    #s1 .container .backgr{
        margin-top: -37%;
    }  


    /* Paragraph size and height */
    #s1 p {
      line-height: 25px;
      font-size: 15px;
    }

    /* Links size, height, and weight (bold) */
    #s1 a {
      line-height: 25px;
      font-size: 15px;
      font-weight: bold;
    }

    /* Buttons */
    #s1 .phone {
      background-color: #4CAF50; /* Green */
      border: none;
      border-radius: 12px;    
      color: white;
      padding: 8px 38px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }

    #s1 .phone {
      background-color: #4CAF50; 
      color: black; 
      border: 2px solid #4CAF50;
    }

    #s1 .phone:hover {
      background-color: white ;
      color: white;
    }

    #s1 .email {
      background-color: #f44336; /* Red */
      border: none;
      border-radius: 12px;    
      color: white;
      padding: 8px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }

    #s1 .email {
      background-color: #f44336; 
      color: black; 
      border: 2px solid #f44336;
    }

    #s1 .email:hover {
      background-color: white;
      color: white;
    }    
    
    
    /*--===//SECTION S5 ADDRESS AND MAP//===--*/
    /*flex box update margin for address*/
    #s5 .flex-item-left-address{
        margin-top: 50px;
        margin-bottom: 50px;
        flex: 100%;
    }
    
    /*flex box update map height size*/
    #s5 .flex-item-right-map{
        height: auto;
        flex: 100%;
    }

    /*--===//SECTION S6 CONTACT US//===--*/
    /*resize input field size*/
    #s6 .CF_FirstName input[type = text] {padding: 12px 20px;}
    #s6 .CF_LastName input[type = text] {padding: 12px 20px;}
    #s6 .CF_Email input[type = email] {padding: 12px 20px;}
    #s6 .CF_Phone input[type = number] {padding: 12px 20px;}
    #s6 .CF_Car input[type = text] {padding: 12px 20px;}
    #s6 .CF_CarModel input[type = text] {padding: 12px 20px;}
    #s6 .CF_ModelYear input[type = number] {padding: 12px 20px;}
    #s6 .CF_Subject input[type = text] {padding: 12px 20px;}
    #s6 .CF_Message textarea {
        padding: 12px 20px;
        font-size: inherit;
    }

    /*contact form update width*/
    #s6 form {width: 80%;}
    /*contact form set rows width*/
    #s6 .CF_FirstName {flex: 100%;}
    #s6 .CF_LastName {flex: 100%;} 
    #s6 .CF_Email {flex: 100%;} 
    #s6 .CF_Phone {flex: 100%;}, 
    #s6 .CF_CarModel {flex: 100%;} 
    #s6 .CF_ModelYear {flex: 100%;}
    
    /*--===//SECTION S7 PARTNERS AND CLIENTS//===--*/
    /*partners and clients set img width*/
    #s7 img {width: 50%;}
    /*partners and clients set rows width*/
    #s7 .abrisocorp{flex: 50%;}
    #s7 .smart_start_ca{flex: 50%;}
    #s7 .globe{flex: 50%;}
    #s7 .mko{flex: 50%;}

}
/*=== END OF MOBILE SECTION ===*/


/* === TABLET ===*/
@media all and (min-width: 600px) and (max-width: 799px){
    
    /*=== ALERT MESSAGE ===*/
    #s0 #alertMessage {
        margin-top: 35px;
        width:100%;
        position: fixed;
        z-index: 99;
        opacity: 0.75;
    }
 
    /*--===//SECTION N1 NAVIGATION//===--*/
    /*update navigation font size*/
    #n1 a{font-size: 14px;}   
    
    /*set tel link as not active*/
    #n1 .tl{
        cursor: default;
        pointer-events: none;
        text-decoration: none;
        color: white;
    }

    /*--===/SCROLL TO TOP/===--*/
    #myBtn {font-size: 13px;}
    
    /*--===//GENERAL CONFIG//===--*/
    /*update header group size*/
    h2 {font-size: 30px;}
    h3 {font-size: 20px;}
    
    /*update article width*/
    article{
        width: 80%;
    }
    
    /*update paragraph size*/
    p{font-size: 14px;}    
    
    
    
    /*--===//SECTION S5 ADDRESS AND MAP//===--*/
    /*flex box update margin for address*/
    #s5 .flex-item-left-address{
        margin: auto;
    }
    
    /*flex box update map height size*/
    #s5 .flex-item-right-map{
        height: auto;
    }
    
    /*--===//SECTION S6 CONTACT US//===--*/
    /*contact form update width*/
    #s6 form {width: 80%;}    
    
    #s6 .CF_Email input[type = email];
    #s6 .CF_Phone input[type = number];
    #s6 .CF_ModelYear input[type = number];

    /*--===//SECTION S7 PARTNERS AND CLIENTS//===--*/
    /*partners and clients set img width*/
    #s7 img {width: 40%;}
    /*partners and clients set rows width*/
    #s7 .globe{
        flex: 25%; 
        padding: 0px; 
        order: 1;
    }    
    
    #s7 .abrisocorp{
        flex: 25%; /*flex item*/
        padding: 0px; /*change distance between items*/ 
        order: 2; /*set flex item order*/
    }
    #s7 .smart_start_ca{
        flex: 25%; 
        padding: 0px; 
        order: 3;
    }

    #s7 .mko{flex: 25%; 
        padding: 0px; 
        order: 4;
    }

}
/* === END OF TABLET SECTION ===*/


/*=== LAPTOP AND DESKTOP ===*/
@media (min-width: 800px){
    
    /*=== BODY BORDER LINE ===*/
    #body_elm{
        /*set max width*/
        max-width: 1200px;
        /*align text in the middle - margin*/
        margin: 0 auto;
    }
    
    /*=== NAVIGATION ===*/
    #n1{
        /*set max width*/
        max-width: 1200px; 
    }
    
    /*set tel link as not active*/
    #n1 .tl{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: white;
}
    
    /*update paragraph size*/
    p{font-size: 18px;} 

    /*=== ALERT MESSAGE ===*/
    #s0 #alertMessage{
        max-width: 1200px;
        margin-top: 37px;
        width:100%;
        position: fixed;
        z-index: 99;
        opacity: 0.75;
    }    
    
    /*--===//SECTION S5 ADDRESS AND MAP//===--*/
    /*resize two flex boxes 50 by 50 percent*/
    #s5 .flex-item-left-address, .flex-item-right-map {flex:50%;}

    /*--===//SECTION S6 CONTACT US//===--*/
    /*resize 3 flex boxes*/
    #s6 .CF_Car{
        padding: 0px;
        flex: 40%;
    }

    #s6 .CF_CarModel{
        padding: 0px;
        flex: 40%;
    }

    #s6 .CF_ModelYear{
        padding: 0px;
        flex: 20%;
    }
    
    /*--===//SECTION S7 PARTNERS AND CLIENTS//===--*/
    /*partners and clients set img width*/
    #s7 img {width: 50%;}
    /*partners and clients set rows width*/
    
    #s7 .globe{
        flex: 25%; 
        padding: 0px; 
        order: 1;
    }    
    
    #s7 .abrisocorp{
        flex: 25%; /*flex item*/
        padding: 0px; /*change distance between items*/ 
        order: 2; /*set flex item order*/
    }
    #s7 .smart_start_ca{
        flex: 25%; 
        padding: 0px; 
        order: 3;
    }

    #s7 .mko{flex: 25%; 
        padding: 0px; 
        order: 4;
    }

}
/*=== END OF LAPTOP AND DESKTOP SECTION ===*/
