/*=== IMPORT STYLE ===*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

/*=== RESET ALL ===*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {height: 100%;}
body {background: #fff;}

/* === NAVIGATION === */
#n1 {
    background-color:rgba(0,0,0,0.75);
    display: flex;
    flex-flow: row wrap;
/*    justify-content: center;*/
    align-items: center; /* align text verticaly */
    padding: 10px;
    width: 100%;
    position: fixed; /*make navigation positon fixed on top of the screen*/
    text-transform:uppercase; /*uppercase letters*/
    font-weight: bold; /*make text bold in navigation*/

}

#n1 a:link{
    color:#fff;
    font-family: Gotham Book,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif, Roboto;
    text-align: center; /* align text in the middle  */
    text-decoration: none;
    flex-grow:1;
}

#n1 a:visited{
    color:#fff;
}

#n1 a:hover{
    color: grey;
}

#n1 a:active{
    color: #fff;
}

#n1 a.current {
    color: grey;
}

/*=== BODY ===*/

#s1 {
    background-color: #f2f2f2;
}

#s1 figre {}

#s1 figure img {
    width: 100%;
    height: auto;
}

#s1 hgroup {
    margin-top:  50px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

hgroup h3{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
/*    font-style: italic;*/
    text-align: center;
}

hgroup h2{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
}


#s1 article {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

article p {
    font-family: "HeiS ASC Simplified Chinese","HeiS ASC Simplified Chinese_n5","HeiT ASC Traditional Chinese","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;
    text-align: justify;
}

/* === BUTTON ORDER NOW === */

#s1 .wrapper {
    margin-top: 30px; 
    margin-bottom:  30px;
    text-align: center;
}
#s1 .button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;  
}

#s1 .button {
    background-color: #f2f2f2;
    color: black; 
    border: 2px solid #f44336;
align-content: center;
    align-items: center;
}

#s1 .button:hover {
    background-color: #f44336;
    color: white;
}

/* === LINK SHEDULE A TEST DRIVE === */
#s1 #link {
    font-family: "HeiS ASC Simplified Chinese","HeiS ASC Simplified Chinese_n5","HeiT ASC Traditional Chinese","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#s1 #link:link{
    text-decoration: none;
}

#s1 #link:visited{
    color: red;
}

#s1 #link:hover{
    color: red;
}

/* === ANIMATION  (LINK SHEDULE A TEST DRIV) === */
#s1 #link h3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
}

#s1 #link h3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: red;
}

#s1 #link h3:hover span {
    padding-right: 25px;
}

#s1 #link h3:hover span:after {
    opacity: 1;
    right: 0;
}

/* === SECTION S2 === */
#s2 {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

#s2 h2 {
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    text-align: center;
}

#s2 figure img {
    width: 100%;
    height: auto;
}

#s2 .dual_motor {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
/*=== MULTI-COLUMN LAYOUT ===*/
    column-count: 3;
    column-gap: 40px;
/*
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
*/
    column-rule: 1px solid lightgrey; /* or do column-rule config in one lign*/
}

