/*=== RESET ALL ===*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {height: 100%;}


/* === NAVIGATION === */
#n1 {
    background-color:rgba(0,0,0,0.75);
    display: flex;
    flex-flow: row wrap;
/*    justify-content: center;*/
    align-items: center; /* align text verticaly */
    padding: 10px;
    width: 100%;
    position: fixed; /*make navigation positon fixed on top of the screen*/
    text-transform:uppercase; /*uppercase letters*/
    font-weight: bold; /*make text bold in navigation*/
    z-index: 99; /* show menu over all other objects*/

}

#n1 a:link{
    color:#fff;
    font-family: Gotham Book,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif, Roboto;
    text-align: center; /* align text in the middle  */
    text-decoration: none;
    flex-grow:1;
}

#n1 a:visited{
    color:#fff;
}

#n1 a:hover{
    color: grey;
}

#n1 a:active{
    color: #fff;
}

#n1 a.current {
    color: grey;
}


/*=== SECTION S1 ===*/
#s1 {
    text-align: center;
}

#s1 figure img{
    width: 100%;
    height: auto;
}


.f_cap {
    position: absolute;
    top: 80px;
    left: 10%;
    text-transform:uppercase;
}

#s1 article {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h3{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
/*    font-style: italic;*/
    text-align: center;
}

h2{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
}

#s1 article h2 {
    margin: 50px;
}

#s1 p {
    font-family: "HeiS ASC Simplified Chinese","HeiS ASC Simplified Chinese_n5","HeiT ASC Traditional Chinese","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;  
    margin-bottom: 80px;
}

/*=== SECTION S2 ===*/
#s2 {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
    background: #f2f2f2;
}

.main {
    background: #fff;
    text-align: center;
    flex: 1 100%;/*1 is flex grow and 100% is flex basis */
	/* 1 value is flex grow; 2 value is for shrink; 3 value is flex basis*/
    position: relative;

}

/*=== VIDEO ===*/
.main video {
    width: 100%;
    max-height: 900px;
    height: auto;
}

/*=== TEXT ON TOP OF VIDEO ===*/
/*
.b-center {
    position: absolute;
    bottom: 8px;
    left: 50%;
    right: 50%;
    color: #fff;    
}
*/

#s2 article h3{
    margin-top: 20px;
}

.aside1 {
    margin: auto;
    align-items: center;
}
.aside1 p{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* === BUTTON ORDER NOW2 === */

#s2 .wrapper2 {
    margin-top: 30px; 
    margin-bottom:  20px;
    text-align: center;
}
#s2 .button2 {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;  
}

#s2 .button2 {
    background-color: #fff;
    color: black; 
    border: 2px solid #f44336;
    align-content: center;
    align-items: center;
}

#s2 .button2:hover {
    background-color: #f44336;
    color: white;
}

/*=== SECTION S3 ===*/
#s3 {
	display: flex;
	flex-flow: row wrap;
    flex-shrink: 1;
	/*font-weight: bold;*/
	text-align: center;
    background: #f2f2f2;
}

#s3 article {
    margin: auto;
    align-items: center;
}


#s3 p{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 30px;
}

#s3 img {
    width: 100%;
    height: auto;
}


/*=== SECTION S4 ===*/

/*=== BACKGROUND IMAGE ===*/
#s4 {
    background: url(../images/t_mx/m_x/m_x2.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 60%;
    height: auto;
/*    align-items: center;*/
/*    vertical-align: middle;*/
    
}

#s4 article p {
    padding: 10px;
}

/*=== SECTION S5 ===*/
#s5 article {
    margin: auto;
    align-items: center;
}

#s5 h2{
    text-align: center;
}

#s5 p{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 60%;
    margin-bottom: 30px;
}



/*=== FOOTER ===*/
footer {
    margin: 40px;
}

footer #n2 {
/*    display: flex;*/
    flex-flow: row wrap;
    position:static;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #666;
/*    margin-bottom: 10px;*/
}


#n2 a:link{
    color: #666;
    text-decoration: none;
    flex-grow:1;
}

#n2 a:visited{
    color:#fff;
}

#n2 a:hover{
    color: grey;
}

#n2 a:active{
    color: #fff;
}



/* === MOBILE ===*/
@media all and (max-width: 599px){
    .f_cap {
        display: none;
    }

    h2 {font-size: 25px;}
    h3 {font-size: 20px;}

    .aside1 {
        background: lightblue;
    /*    padding-top: 20px;*/
    /*    padding: 20px;*/
        flex: 1 100%;
    }

    .main {
        background: lightblue;
    /*    padding-bottom: 20px;*/
        flex: 1 100%;
    }

    /*=== hide text ===*/
    .f_wings {visibility: hidden;}

}


/* === TABLET ===*/
@media all and (min-width: 600px) and (max-width: 799px){
    .f_cap {
        display: none;
    }
    
    .aside {
        flex: 1 auto;
        background: lightgreen;
    }
    
    h2 {font-size: 30px;}
    h3 {font-size: 20px;}
    
    /*=== hide text ===*/
    .f_wings {visibility: hidden;}
    

    
}

/*=== DESKTOP ===*/
@media all and (min-width:800px){
/*    .main {flex:2 80%;*/
    .main {flex:1 50%;
/*flex-shrink: 1;*/
        background: #f2f2f2;}
/*    .aside1 {order:-1;}*/
    .main {order:1;}
    .aside1 {order:2;}
    .aside1 {background: #f2f2f2;}
    .aside {
/*        flex: 1 40%;*/
        flex: 1 40%;
    }
/*    footer{order:3;}*/
    .aside2 {order:2;}
    .aside2 {background: #f2f2f2;}

/*=== SECTION S4 CLASS FALCON FINGS ===*/
    .f_wings {
    width: 40%;
    height: auto;
    padding: 10px;
/*        margin-top: 6%;*/
    text-align: justify;
    position: absolute;
    right: 20px;
/*    top: 50%;*/

/* I was trying to align text vertically in the middle of section s4 */
/*
    align-items: center;
    vertical-align: middle;
*/

    }

/*=== hide text ===*/
    .b_text {
        display: none;
    }
    

}