/*=== IMPORT STYLE ===*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

/*=== RESET ALL ===*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {height: 100%;}


/* === NAVIGATION === */
#n1 {
    background-color:rgba(192,192,192,0.75); /*transparency, grey color*/
    display: flex;
    flex-flow: row wrap;
/*    justify-content: center;*/
    align-items: center; /* align text verticaly */
    padding: 10px;
    width: 100%;
    position: fixed; /*make navigation positon fixed on top of the screen*/
    text-transform:uppercase; /*uppercase letters*/
    font-weight: bold; /*make text bold in navigation*/
    z-index: 99; /* show menu over all other objects*/

}

#n1 a:link{
    color:#fff;
    font-family: Gotham Book,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif, Roboto;
    text-align: center; /* align text in the middle  */
    text-decoration: none;
    flex-grow:1;
}

#n1 a:visited{
    color:#fff;
}

#n1 a:hover{
    color: grey;
}

#n1 a:active{
    color: #fff;
}

#n1 a.current {
    color: grey;
}

/*=== BODY ===*/

/*=== SECTION 1 ===*/
#s1{
    width: 100%; /* set width of section to 100% of the screen */
    min-height:100%;  /* set minimum height of the section to 100% (recomended) of the screen */
    height: auto; /*other: resize the height to auto*/
    display: flex;
    padding: 10px;
    z-index: 0;
    
}

/* === BACKGROUND VIDEO === */
#s1 #tesla_vid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1; /*move video on background*/
	background: url(images/tesla_img.jpg) no-repeat; /*background image while video is downloading*/
	background-size: cover;
}

#s1 hgroup {
    padding: 30px;
/*    display: flex;*/
    margin: auto; /*centers a flex item horizontaly and verticaly inside flex-container*/
    text-transform: uppercase;
}

#s1 hgroup h2 {
    color: #fff; 
    font-family: 'Gotham Light', Robato;
    font-size: 32px;
    font-weight: normal;
    text-shadow: 2px 2px 5px #000; /* add text shadow (black) with blur 5px */
/* or add text shadow (black and blue) with blur 5px */
/*    text-shadow: 2px 2px 5px #000, 0 0 5px #0000FF; */
    
/*  align text in the middle  */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* === NAVIGATION 2 ===*/
#s1 .flex {
/*    position: absolute;*/
    display: flex; /*flex box*/
    flex-flow: row wrap; /*wrap*/
    justify-content: center; /*align text in the middle of the lign*/
/*    align-content: center; */
    align-items: center; /* align text verticaly*/
    text-align: center;
    

    transition: all .3s; /* add transition */
}

#s1 .flex .b1 {
    background-color:rgba(192,192,192,0.3);
    color: #fff;
    font-family: Gotham Medium,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif, Robato;
    font-weight: bold;/*or normal*/
    padding: 10px 20px;
    width: 200px;
    margin: 5px;
    text-transform: uppercase;
    transition-duration: 0.5s;
    cursor: pointer;
    
}

#s1 .flex .b1 {
    background-color: rgba(192,192,192,0.7); /*button background color transparent 0.3*/
    border: 2px solid rgba(192,192,192,0.0); /*border color: transperent*/
}

#s1 .flex .b1:hover {
    border: 2px solid red;
}

/*=== NEWSLETTER LINK ===*/
#s1 a:link{
    text-decoration: none;
}

#s1 a:visited{
    color: #fff;
}

#s1 a:hover{
    color: #fff;
}

/*=== HGROUP ===*/
#s1 hgroup h3 {
    color: #fff;
    font-family: Gotham Book,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif, Roboto, Roboto Condensed';
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    
    transition: all 0.5s; /* add transition */
    cursor: pointer;
    margin: 5px;
    
}

/* === ANIMATION  === */
#s1 hgroup h3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
}

#s1 hgroup h3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: red;
}

#s1 hgroup h3:hover span {
    padding-right: 25px;
}

#s1 hgroup h3:hover span:after {
    opacity: 1;
    right: 0;
}


#s1 #n2 {
    flex-flow: row wrap;
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}


#n2 a:link{
    color:#fff;
    text-decoration: none;
    flex-grow:1;
}

#n2 a:visited{
    color:#fff;
}

#n2 a:hover{
    color: grey;
}

#n2 a:active{
    color: #fff;
}

/*=======================================*/
/*=============== FORMS =================*/
/*=======================================*/

#overlay-content {
	width: 60%;
	background: #eee;
	padding: 20px;
	margin: 100px auto;
	border-radius: 10px;
}


/*=== TEXT ===*/
input[type=text], input[type=email] {
	width: 60%;
	padding: 12px 0px 4px;
	margin: 6px 0 20px;
	display: block;
	border: none;
	border-bottom: 1px dotted #000;
	/*border-radius: 4px;*/
	font-size: 22px;
	font-family: Georgia, "Times new Roman", Times, Serif;
	color: #000;
	background: #eee;
	transition: all .3s;

}


input[type=text]:focus, input[type=email]:focus {
	width: 100%;
	background: #eee;
	color: #f00;
	outline: none;
	border-bottom: 1px dotted #f00;

}


/*=== BUTTONS ===*/
input[type=submit], input[type=reset] {

	display: inline-block;
	width: 20%;
	background-color: red;
	color: white;
	padding: 14px 20px;
	margin: 14px 10px 14px 0;
	outline: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 22px;
	font-family: Georgia, "Times new Roman", Times, Serif;
	transition: all .3s;
}

input[type=submit]:hover, input[type=reset]:hover {
	background-color: #333;
}


/*=== COMMENT ===*/
textarea {
	display: block;
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	margin: 6px 0 20px;
	border-radius: 4px;
	border: none;
	border-bottom: 1px dotted #000;
	background-color: #fff;
	font-size: 22px;
	resize: none;
	color: #333;
	transition: .3s;
}


textarea:hover {
	background: #333;
	color: #fff;
	outline: none;
	border-bottom:  1px dotted #f00;
}


/*=== LABEL ===*/
label {
	font-family: verdana, sans-serif;
	font-size: 22px;
	font-weight: bold;
}


/*----------------------------------------------------*/

#trigger {}

.b1 {
    background-color:rgba(192,192,192,0.3);
    color: #fff;
    font-family: Gotham Medium,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif, Robato;
    font-weight: bold;/*or normal*/
    padding: 10px 20px;
    width: 200px;
    margin: 5px;
    text-transform: uppercase;
    transition-duration: 0.5s;
    cursor: pointer;
}

.b1 {
    background-color: rgba(192,192,192,0.3); /*button background color transparent 0.3*/
    border: 2px solid rgba(192,192,192,0.0); /*border color: transperent*/
}
.b1:hover {
    border: 2px solid red;
}


 /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} 

/*=======================================*/
/*=============== FORMS END =============*/
/*=======================================*/


/*=== FOOTER ===*/
footer {
    text-align: center;
    margin-bottom: 20px;
}


/* ===================== MOBILE AND TABLET ===============================*/
@media all and (max-width: 899px){
    
#n1 {visibility: hidden;} /*hide original navigation menu*/
    
/*=========== HAMBURGER MENU =============*/

#trigger2 {
	font-size: 20px;
	cursor: pointer;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9; /*put text on top of other elements*/
	color: white; /*color menu*/
	font-weight: bold;
}


 /* The Overlay (background) */
.overlay2 {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content-menu {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay2 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay2 a:hover, .overlay2 a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay2 .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay2 a {font-size: 20px}
    .overlay2 .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} 

/*=========== END OF HAMBURGER MENU =========*/

}


/*=== DESCKTOP ===*/
@media all and (min-width: 900px){
    /* HIDE MOBILE NAVIGATION */
    #HambNav {visibility: hidden;} 
    #trigger2 {visibility: hidden;}
}



